.logo {
  background: url('../../assets/logo/Logo_ABS-Lock_Book.svg');
  background-repeat: no-repeat;
  width: 100%;
  height: 32px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
}
